<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
    <script src="https://cdn.maptiler.com/mapbox-gl-js/v1.5.1/mapbox-gl.js"></script>
    <script src="https://cdn.maptiler.com/mapbox-gl-leaflet/latest/leaflet-mapbox-gl.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.maptiler.com/mapbox-gl-js/v1.5.1/mapbox-gl.css" />
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/style.css" />
</head>

<body>

    <div class="time">
        <div id="Clock" class="clock" onload="showTime()"></div>
        <div id="Date" class="date" onload="showDate()"></div>
    </div>

    <div id="load"></div>
    <div id="timestamp"></div>
    <div id="map" class="map"></div>
</body>
<script src="static/rainviewer.js"></script>
<script src="static/time.js"></script>
<script src="static/date.js"></script>
</html>
