body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    color: rgba(255, 161, 20, 1);
    font-family: 'Play', sans-serif;
    text-shadow: 0 0 20px black;
    font-weight: bold;
}
.leaflet-container{
    background: black;
}
.leaflet-pane{
    position: static ;
}
.leaflet-control-attribution{
    visibility: hidden;
}

#load{
    position: absolute;
    bottom: 0;
    width: 1%;
    height: 20px;
    background-color: rgba(255, 161, 20, 0.35);
    z-index: 2;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.time{
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    letter-spacing: 5px;
    pointer-events: none;
    z-index: 2;
}
.clock {
    font-size: 200px;

}
.date {
    transform: translateX(25%);
    font-size: 150px;
}

.weather{
    position: relative;
    font-weight: lighter;
    padding: 10px;
    float:right;
    text-align: right;
    font-size: 50px;
    letter-spacing: 1px;
    width: auto;
    height: auto;
    z-index: 2;
    color: rgb(229, 170, 102);
}
#forecast{
    font-size: 20px;
}
#temp_like{
    color: rgb(157, 112, 50);
}